/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# IDE-specific files & folders
.idea/

# Development-only files & folders
/dev/resources

# Artefact produced by lein
dev-resources/