{:server/http {:pedestal {:io.pedestal.http/routes         [] ; initiate no pedestal routes
                          :io.pedestal.http/type           :jetty
                          :io.pedestal.http/join?          false
                          :io.pedestal.http/port           3001
                          :io.pedestal.http/secure-headers {:content-security-policy-settings
                                                            ; allows swagger and swagger-ui to load the stylesheets & scripts from this localhost
                                                            {:default-src "'self'"
                                                             :style-src   "'self' 'unsafe-inline'"
                                                             :script-src  "'self' 'unsafe-inline'"}}}
               :app      #ig/ref :server/app}
 :db/pg       {:connection-string nil}
 :server/app  {:name    "Integrated Learning System"
               :version "0.1.0-HEAD"
               :env     :dev}}
