main {
  margin-bottom: 1rem;
}

.content table td {
  /* overrides bulma defaults */
  text-align: center;
  vertical-align: middle;
}

.content table td:hover {
  cursor: pointer;
  background-color: #eeecf1;
}

.content table th[scope="col"] {
  text-align: center;
}

label.label {
  font-family: 'Source Sans Pro', sans-serif;
}

h2.icon-text > .icon {
  /* overrides bulma defaults of `.icon` */
  display: inline-table !important;
}

.container.is-fluid {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

select {
  font-family: 'Source Sans Pro', sans-serif;
}

option {
  font-family: 'Source Sans Pro', sans-serif;
}

progress.progress {
  /* overrides bulma defaults */
  border-radius: 0;
}