:root {
  --violet-bold: #301454;
}

body {
  line-height: 1.5;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
  font-size: 1.025em;
}

table {
  font-family: 'Source Sans Pro', sans-serif;;
}

span#brand-title {
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--violet-bold);
}

span.icon-text.is-medium > span {}
